* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 1024px;
  width: 1332px;
  margin: 0 auto;
}

.left-block {
  width: 50%;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
}

.oasis-logo {
  position: absolute;
  padding: 64px 0 0 82px;
}

.group-dot {
  position: absolute;
  padding: 212px 0 0 416px;
}

.quotes {
  position: absolute;
  padding: 330px 0 0 82px;
}

.left-block-text {
  font-family: "Inter-Regular", sans-serif;
  line-height: 38px;
  padding: 370px 0 0 82px;
  width: 473px;
  color: #ffffff;
}
.left-block-text img {
  height: 15px;
  border-radius: 100%;
  background-color: #08AD36;
  margin-left: 13.5px;
  padding: 4.5px 3.6px;
}
.left-block-text .left-block-text-inline {
  display: flex;
  padding-top: 22px;
  align-items: center;
}

.angle {
  padding: 24px 0 0 484px;
}
.sphere {
  position: absolute;
  padding-top: 282px;
  margin-left: -518px;
}

.right-block {
  width: 50%;
}

.right-block-header {
  display: flex;
  justify-content: space-between;
  height: 36px;
  padding: 75px 0 78px 58px;
  text-align: right;
  align-items: center;
}

.block-header-text-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
.block-header-text-arrow a {
  font-family: "Inter-SemiBold", sans-serif;
  color: #8692A6;
  line-height: 19px;
  text-decoration: none;
  padding-left: 14px;
}

.block-header-text p:first-child {
  font-family: "Inter-Medium", sans-serif;
  color: #BDBDBD;
}
.block-header-text p:last-child {
  font-family: "Inter-SemiBold", sans-serif;
  color: #8692A6;
}

.right-block-container {
  width: 542px;
  padding-left: 127px;
}
.right-block-container h2 {
  font-family: "Inter-bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
}
.right-block-container p {
  padding-top: 10px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #8692A6;
  font-size: 18px;
  line-height: 28px;
}

.right-block-form {
  padding: 40px 0 0 127px;
  width: 542px;
}
.right-block-form label {
  font-family: "Inter-Medium", sans-serif;
  color: #696F79;
  font-size: 16px;
}
.right-block-form .show {
  position: absolute;
  margin: -64px 0 0 357px;
  font-family: "Inter-Regular", sans-serif;
  outline: none;
  cursor: pointer;
}

.input-text {
  display: block;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  padding-left: 30px;
  line-height: 17px;
  margin: 14px 0 24px 0;
  width: 426px;
  height: 64px;
  border-radius: 6px;
  border: 1px solid #8692A6;
}

.block-check {
  padding: 7px 0 39px 0;
}
.block-check .form-chekbox {
  margin-right: 20px;
  width: 17px;
  height: 17px;
}

.button {
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  border-radius: 6px;
  line-height: 20px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.button-register {
  color: #ffffff;
  background-color: #1565D8;
  margin-left: 127px;
  padding: 23px 147px;
}
.button-register:hover {
  background-color: #1257bb;
}
.button-register:focus {
  background-color: #0f4a9e;
}

.button-google {
  font-family: "Inter-Medium", sans-serif;
  font-weight: bold;
  margin-top: 25px;
  padding: 23px 137px;
  white-space: nowrap;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.button-google:hover {
  background-color: #e2e2e2;
}
.button-google:focus {
  background-color: #d3d3d3;
}

.right-block-fieldset {
  margin: 25px 0 0 127px;
  width: 426px;
  border: 0;
  border-top: 1px solid #F5F5F5;
}

.fieldset-heading {
  color: #BABABA;
  text-align: center;
  padding: 0 33px;
}

.google-logo {
  position: absolute;
  padding: 46px 0 0 45px;
}